<script type="text/javascript">
  Util.add_favicon('HOM');
</script>
<a href="#" id="list_new_link">New list</a>
<form action="/lists/create" method="post" id="list_new_form" style="display: none;">
  <div>
    Name: <input type="text" name="name" id="form_list_name">
    <input type="submit" value="Create list">
  </div>
</form>
<br />
<% if @pending_owners.present? %>
  <h2>Pending shared lists:</h2>
  <% @pending_owners.each do |po| %>
    <div class="pending_owner">
      "<%= po.requester %>" would like to share "<%= po.list.name %>" with you. <a href="/pending_owners/destroy/<%= po.list.slug %>/accept" class="link_pending_owner">accept</a> <a href="/pending_owners/destroy/<%= po.list.slug %>/decline" class="link_pending_owner">decline</a>
    </div>
  <% end %>
<% end %>

<br />
<h2>Lists:</h2>
<% if @lists.size > 0 %>
  <div>
    <% @lists.each do |list| %>
      <div>
        <a href="/lists/show/<%= list.slug %>"><%= list.name %></a>
        <span class="controls">
          <a href="#" class="link_list_edit">edit</a>
          <span class="display_none">
            <a href="#" class="link_list_rename">rename</a>
            <form action="/lists/update/<%= list.slug %>" method="post" class="form_list_rename" style="display: none;">
              <span>
                <input type="text" name="name" value="<%= list.name %>">
                <input type="submit" value="Rename">
              </span>
              <span><a href="#" class="link_cancel">cancel</a></span>
            </form>
            <a href="#" class="link_list_share">share</a>
            <form action="/pending_owners/create/<%= list.slug %>" method="post" class="form_list_share" style="display: none;">
              <span>
                <input type="text" name="owner" value="">
                <input type="submit" value="Share">
              </span>
              <span><a href="#" class="link_cancel">cancel</a></span>
            </form>
            <% if list.list_owners.count > 1 %>
              <a href="#" class="link_list_remove">remove</a>
              <form action="/list_owners/destroy/<%= list.slug %>" method="post" class="form_list_remove" style="display: none;">
                <span>
                  <input type="submit" value="Really remove?">
                </span>
                <span><a href="#" class="link_cancel">cancel</a></span>
              </form>
            <% end %>
            <a href="#" class="link_list_destroy">delete</a>
            <form action="/lists/destroy/<%= list.slug %>" method="post" class="form_list_destroy" style="display: none;">
              <span>
                <input type="submit" value="Really delete?">
              </span>
              <span><a href="#" class="link_cancel">cancel</a></span>
            </form>
            <a href="#" class="link_cancel_all">cancel</a>
          </span>
        </span>
      </div>
    <% end %>
  </div>
<% else %>
  <div>None</div>
<% end %>
