<script type="text/javascript">
  Util.add_favicon('<%= @list.slug[0..2].upcase %>');
</script>
<div><a href="/">Home</a></div>
<a href="#" id="item_new_link">New item</a>
<form action="/items/create/<%= @list.slug %>" method="post" id="item_new_form" style="display: none;">
  <div>
    Note: <textarea name="note" id="form_item_note" class="required"></textarea>
    <input type="submit" value="Create item">
  </div>
</form>
<br />
<h2><%= @list.name %>: <span class="owners">(Owners: <%= @list.list_owners.map(&:owner).join(', ') %>)</span></h2>
<div class="notes">
  <% if @list.unfinished_items.count > 0 %>
    <% @list.unfinished_items.each do |item| %>
      <div class="note">
        <%= item.ordering + 1 %> <%= item.note %>
        <span class="controls">
          <a href="#" class="link_item_edit">edit</a>
          <span class="display_none">
            <a href="#" class="link_item_prioritize">prioritize</a>
            <form action="/items/update/<%= item.id %>" method="post" class="form_item_prioritize" style="display: none;">
              <span>
                <select name="ordering">
                  <% (1..@list.items.size).each do |priority| %>
                    <option value="<%= priority - 1 %>" <%= 'selected' if priority == (item.ordering + 1) %>><%= priority %></option>
                  <% end %>
                </select>
                <input type="submit" value="Prioritize">
              </span>
              <span><a href="#" class="link_cancel">cancel</a></span>
            </form>
            <a href="#" class="link_item_renotate">renotate</a>
            <form action="/items/update/<%= item.id %>" method="post" class="form_item_renotate" style="display: none;">
              <span>
                <textarea name="note" class="required"><%= item.note %></textarea>
                <input type="submit" value="Renotate">
              </span>
              <span><a href="#" class="link_cancel">cancel</a></span>
            </form>
            <a href="#" class="link_item_finish">finish</a>
            <form action="/items/update/<%= item.id %>" method="post" class="form_item_finish" style="display: none;">
              <span>
                <input type="hidden" name="finished" value="1">
                <input type="submit" value="Really finish?">
              </span>
              <span><a href="#" class="link_cancel">cancel</a></span>
            </form>
            <a href="#" class="link_item_destroy">delete</a>
            <form action="/items/destroy/<%= item.id %>" method="post" class="form_item_destroy" style="display: none;">
              <span>
                <input type="submit" value="Really delete?">
              </span>
              <span><a href="#" class="link_cancel">cancel</a></span>
            </form>
            <a href="#" class="link_cancel_all">cancel</a>
          </span>
        </span>
      </div>
    <% end %>
  <% else %>
    None
  <% end %>
</div>
<div class="notes finished">
  <% if @list.finished_items.count > 0 %>
    <% @list.finished_items.each do |item| %>
      <div class="note finished">
        <%= item.note %>
        <span class="controls">
          <a href="#" class="link_item_edit">edit</a>
          <span class="display_none">
            <a href="#" class="link_item_unfinish">unfinish</a>
            <form action="/items/update/<%= item.id %>" method="post" class="form_item_unfinish" style="display: none;">
              <span>
                <input type="hidden" name="finished" value="0">
                <input type="submit" value="Really unfinish?">
              </span>
            </form>
            <a href="#" class="link_item_destroy">delete</a>
            <form action="/items/destroy/<%= item.id %>" method="post" class="form_item_destroy" style="display: none;">
              <span>
                <input type="submit" value="Really delete?">
              </span>
            </form>
          </span>
        </span>
      </div>
    <% end %>
  <% end %>
</div>
